# Dependencies
node_modules/
venv/
.env
.DS_Store
Thumbs.db
*.log

# Build Outputs
dist/
build/
.vite/
coverage/

# IDE & Config
.vscode/
.idea/
.project
.settings/
.ipynb_checkpoints/

# Project Specific (Large/Generated/Internal)
data_raw/
data_processed/
/models/*.joblib
/models/*.h5
/models/*.pkl
/web/
/hooks/
/info/
/objects/
/refs/
/config
/description
/HEAD
